.header {
  width: 100%;
  background-color: #db3f3f85;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header:before,
.header:after {
  content: " ";
  display: table;
  clear: both;
}

.header > img.logo {
  width: 60px;
  height: 60px;
  float: left;
  padding: 5px 0;
}

.header > a {
  float: left;
  padding: 20px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 60px;
  color: #141010;
  text-decoration: none;
}

.header > a:hover {
  color: #fff;
}
